/* Feuille de style pour Gigondas  */

body {
	color: black; background: white; 
	font-family: Cantarell, Trebuchet MS, sans-serif;
    margin: 5Px auto;
}

fieldset {
    margin: 3em auto;
    border: 1px solid #EC4C4E;
}
legend {
    width: auto;
    margin-left: 10px;
    padding: 3px 5px;
    font-weight: bold;
	color: white;
	background-color: #FD5D5D; 
}

input[type=radio] {
    margin-left: 3em;
    margin-right: 10px;
    margin-bottom: 20px;
}
p.valider { text-align: center; }

h1 {
    padding: 10px 5px;
	font-size: 1.2em;
	color: white;
	background: #EC4C4E; 
	text-align: center;
}

a:link    {text-decoration: none; font-weight: bold; color: #999999; }
a:visited {text-decoration: none; font-weight: bold; color:    #999999; }
a:active  {text-decoration: none; color: black; }
a:hover   {text-decoration: none; color:white; background: #999999; cursor: pointer; }

th { color: white; background: #EC4C4E; border: thin solid #E43134;}
td { font-size: .92em; border: thin solid #E43134; }
th, td {
	padding: 3px 5px;
	vertical-align: middle;
}

table { border-collapse: collapse; margin: 20px auto; margin-top: 3em;}
/* Couleur des lignes impaires */
table tr:nth-child(odd) {
   background-color: #CCCCFF; 
}

/* Pour les messages d'erreurs */
p.erreur {
   text-align: center;
   color: red;
   font-weight: bold;
}

