<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ titre }}</title>
        <link rel="stylesheet" type="text/css" href="http://gigondas/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="http://gigondas/bootstrap/css/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="vote.css"/>
        <script type="text/javascript" src="http://gigondas/jQuery.js"></script>
        <script type="application/javascript" src="http://gigondas/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            const PORTLOCAL = {{ port }};
        </script>
        <script type="text/javascript" src="vote.js"></script>
    </head>
    <body class="container">
        <h1>Application de vote réparti, électeur {{ nom }}</h1>
        <div class="row">
            <div class="col-md-6">
                <fieldset><legend>Question</legend>
                </fieldset>
                <p class="valider"><input type="button" id="valider" value="Voter"/></p>
            </div>
            <div class="col-md-6">
                <table id="resultats">
                    <thead>
                        <tr><th>Réponse</th><th>Nb votes</th></tr>
                        <tr style="display: none;"><td>Réponse</td><td>Nb votes</td></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </body>
</html>

