<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ titre }}</title>
        <link rel="stylesheet" type="text/css" href="vote.css"/>
    </head>
    <body class="container">
        <h1>Application de vote réparti, électeur {{ nom }}</h1>
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </body>
</html>

